{# form of the Survey #}
{% extends "User/home.html" %}
{% load static %}
{% block extra_css %}
    <style>
    table,th,td{
        border: 1px solid black;
        padding:15px;
    }
    table{
        border-spacing: 10px;
    }
    </style>
{% endblock %}
{% block body %}
{% for values in CreateSurvey %}
    <form>
    <table style="width:100%">
    <tr style="background-color: skyblue"><td><center>{{ values.heading }}</center><br></td></tr>
    <tr style="background-color: deepskyblue"><td>1.{{ values.question1 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q1" value="{{ values.option1 }}">{{ values.option1 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q1" value="{{ values.option2 }}">{{ values.option2 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q1" value="{{ values.option3 }}">{{ values.option3 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q1" value="{{ values.option4 }}">{{ values.option4 }}<br></td></tr>

    <tr style="background-color: deepskyblue"><td>2.{{ values.question2 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q2" value="{{ values.option12 }}">{{ values.option12 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q2" value="{{ values.option22 }}">{{ values.option22 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q2" value="{{ values.option32 }}">{{ values.option32 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q2" value="{{ values.option42 }}">{{ values.option42 }}<br></td></tr>

    <tr style="background-color: deepskyblue"><td>3.{{ values.question3 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q3" value="{{ values.option13 }}">{{ values.option13 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q3" value="{{ values.option23 }}">{{ values.option23 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q3" value="{{ values.option33 }}">{{ values.option33 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q3" value="{{ values.option43 }}">{{ values.option43 }}<br></td></tr>

    <tr style="background-color: deepskyblue"><td>4.{{ values.question4 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q4" value="{{ values.option14 }}">{{ values.option14 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q4" value="{{ values.option24 }}">{{ values.option24 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q4" value="{{ values.option34 }}">{{ values.option34 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q4" value="{{ values.option44 }}">{{ values.option44 }}<br></td></tr>

    <tr style="background-color: deepskyblue"><td>5.{{ values.question5 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q5" value="{{ values.option15 }}">{{ values.option15 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q5" value="{{ values.option25 }}">{{ values.option25 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q5" value="{{ values.option35 }}">{{ values.option35 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q5" value="{{ values.option45 }}">{{ values.option45 }}<br></td></tr>

    <tr style="background-color: deepskyblue"><td>6.{{ values.question6 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q6" value="{{ values.option16 }}">{{ values.option16 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q6" value="{{ values.option26 }}">{{ values.option26 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q6" value="{{ values.option36 }}">{{ values.option36 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q6" value="{{ values.option46 }}">{{ values.option46 }}<br></td></tr>

    <tr style="background-color: deepskyblue"><td>7.{{ values.question7 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q7" value="{{ values.option17 }}">{{ values.option17 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q7" value="{{ values.option27 }}">{{ values.option27 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q7" value="{{ values.option37 }}">{{ values.option37 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q7" value="{{ values.option47 }}">{{ values.option47 }}<br></td></tr>

    <tr style="background-color: deepskyblue"><td>8.{{ values.question8 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q8" value="{{ values.option18 }}">{{ values.option18 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q8" value="{{ values.option28 }}">{{ values.option28 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q8" value="{{ values.option38 }}">{{ values.option38 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q8" value="{{ values.option48 }}">{{ values.option48 }}<br></td></tr>

    <tr style="background-color: deepskyblue"><td>9.{{ values.question9 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q9" value="{{ values.option19 }}">{{ values.option19 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q9" value="{{ values.option29 }}">{{ values.option29 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q9" value="{{ values.option39 }}">{{ values.option39 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q9" value="{{ values.option49 }}">{{ values.option49 }}<br></td></tr>

    <tr style="background-color: deepskyblue"><td>10.{{ values.question10 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q10" value="{{ values.option10 }}">{{ values.option10 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q10" value="{{ values.option20 }}">{{ values.option20 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q10" value="{{ values.option30 }}">{{ values.option30 }}<br></td></tr>
    <tr style="background-color: lightskyblue"><td><input type="radio" name="q10" value="{{ values.option40 }}">{{ values.option40 }}<br></td></tr>
    </table>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    </form>
{% endfor %}
{% endblock %}